upstream api{
    server 127.0.0.1:1000
}
upstream web{
    server 127.0.0.1:1001
}

server{

    listen 80;
    listen[::]:80;

    server_name notifier.exlinetr.com 

    location / {
        proxy_pass http://web;
    }
    location /api/ {
        rewrite /api/(.*) /$1 break;
        proxy_pass http://api;
    }

}